.experience__container {
	position: relative;
	text-align: center;
	width: 100vw;
	height: 85vh;
	display: flex;
	flex-direction: column;
	place-items: center;
}
.experience__title {
	font-size: 2rem;
	font-weight: 600;
}
.experience__title::before {
	content: "";
	position: absolute;
	width: 100px;
	height: 6px;
	background-color: var(--text-gold);
	margin: 20px 0 0 -120px;
}
.experience__title::after {
	content: "";
	position: absolute;
	width: 100px;
	height: 6px;
	background-color: var(--text-gold);
	margin: 20px 0 0 20px;
}
.experience__description {
	font-size: 1.5rem;
	font-weight: 400;
	color: var(--text-white);
}
/* bagian card nya */
.experience__card {
	position: relative;
	display: block;
	width: 100vw;
	height: 80vh;
	display: flex;
	flex-direction: row;
	overflow: auto;
}
.card__container {
	position: relative;
	display: flex;
	flex-direction: column;
	flex-shrink: 0;
	width: 300px;
	height: 350px;
	margin: 20px;
	border-top-right-radius: 12px;
	border-top-left-radius: 12px;
	cursor: pointer;
}
.card__image {
	width: 100%;
	height: 200px;
	display: flex;
	background-color: var(--text-white);
	border-top-right-radius: 12px;
	border-top-left-radius: 12px;
	place-content: center;
	place-items: center;
}
.card__image::after{
	content: "";
	position: absolute;
	width: 100%;
	height: 0px;
	top: 0;
	background-color: rgba(0, 0, 0, 0.5);
	transition: height 0.5s ease-in-out;
}
.card__container:hover > .card__image::after{
	height: 200px;
}
.card__image img {
	width: auto;
	height: 150px;
}

/* mode flip */
.flip-card {
	background-color: transparent;
	width: 100%;
	height: calc(100% - 200px);
	perspective: 1000px;
}

.flip-card-inner {
	position: relative;
	width: 100%;
	height: 100%;
	text-align: center;
	transition: transform 0.6s;
	transform-style: preserve-3d;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.card__container:hover .flip-card .flip-card-inner {
	transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
	position: absolute;
	width: 100%;
	height: 100%;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}
.flip-card-front h3,
.flip-card-front h4,
.flip-card-front h5{
	padding: 0px 15px;
	text-align: center;
}

.flip-card-front h3{
	margin-top: 20px;
}
.flip-card-front {
	background-color: var(--text-bg-grey);
	color: var(--text-white);
	text-align: start;
	border-bottom-right-radius: 12px;
	border-bottom-left-radius: 12px;
}

.flip-card-back {
	background-color: var(--text-bg-grey);
	color: white;
	transform: rotateY(180deg);
	border-bottom-right-radius: 12px;
	border-bottom-left-radius: 12px;
	overflow: auto;
}
.flip-card-back h5,
.flip-card-back h6
{
	text-align: justify;
	padding: 0px 15px;
	font-weight: 400;
}
.flip-card-back h5{
	margin-top: 20px;
}



/* .card__container:hover {
	box-shadow: 8px 6px 7px rgba(255, 255, 255, 0.2);
} */

/* area card */

@media screen and (min-width: 1024px) {
}

@media screen and (min-width: 768px) and (max-width: 1023.98px) {
}
@media screen and (max-width: 767.98px) {
	.experience__container {
		width: 100vw;
	}
	.experience__title {
		font-size: 2rem;
	}
	.experience__title::after,
	.experience__title::before {
		width: 50px;
		height: 3px;
	}
	.experience__title::before {
		margin: 20px 0 0 -60px;
	}
	.experience__title::after {
		margin: 20px 0 0 10px;
	}
	.experience__description {
		font-size: 1rem;
	}
	.card__container:hover .card__body .card__descriptions > h6 {
		width: 70vw;
		height: 16.7vh;
		margin-left: -77px;
	}
}
